<!--The content below is only a placeholder and can be replaced.-->

<div class="header">
  <h1> Web application <br> JsRamverk course BTH </h1>

  <div class="navigation">
    <a  [routerLink]="['']">
      About
    </a>

    <a  [routerLink]="['form']">
      Register
    </a>

    <a  [routerLink]="['seeReports']">
      Reports
    </a>

    <a  [routerLink]="['login']">
      Login 
    </a>

    <a  [routerLink]="['reportApi']">
      Admin
    </a>

    <a  [routerLink]="['api']">
      API 
    </a>
</div>

</div>

<!-- <div class="navigation">

  <a  [routerLink]="['reports/week/1']">
    Report1
  </a>

  <a  [routerLink]="['reports/week/2']">
    Report2
  </a>

</div> -->

<div class ="routerView">
  <!-- The view is injected here -->
  <router-outlet></router-outlet>
</div>

<div class ="footer">
  <!-- The view is injected here -->
</div>