/* You can add global styles to this file, and also import other style files */

html {
  overflow-y: scroll;
  background-color: #294F6D;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1em;
  overflow-y: scroll;
}

